#banner {
  background: url(../images/banners/banner-1.png);

  width: 100%;
  height: 70vh;

  text-align: center;

  color: #FFF;

  .container {
    height: 70vh;
  }

  #subscribe {
    width: 50%;
    height: 65px;

    margin: 0 25%;

    background: #FFF;

    border: 3px solid #FFF;
    border-radius: 5px;

    position: relative;
  
    #email {
      width: 75%;

      height: 60px;

      padding: 0 25px;

      font-size: 16px;

      position: absolute;
      left: 0;

      border: none;
    }

    #submit {
      width: 25%;

      height: 60px;

      position: absolute;
      right: 0;

      border: solid 1px #6067ea;
      border-radius: 5px;

      background-color: #6067ea;

      font-size: 16px;

      color: #FFF;

      transition: .7s ease all;

      &:hover {
        background: #000;
      }
    }
  }
}