#newest {
  background: $secondary-color;

  width: 100%;

  text-align: center;

  padding: 100px 0;

  .container {
    height: auto;
  }

  .thumbnail {
    background: $secondary-color;

    width: 165px;
    height: 165px;

    margin: 0 10px;

    display: inline-block;

    transition: all 0.4s ease 0s;

    cursor: pointer;

    position: relative;

    &:hover {
      box-shadow: 0 6px 22px #C9C8F6;
    }

    img {
      position: absolute;

      width: 165px;
      height: 165px;

      left: 0;
    }
  }
}