@import 'variables';

@import 'assets/fonts';
@import 'assets/forms';

@import 'assets/containers';

@import 'assets/header';
@import 'assets/banner';
@import 'assets/featured';
@import 'assets/newest';
@import 'assets/features';
@import 'assets/information';
@import 'assets/statistics';
@import 'assets/footer';

body {
  margin: 0;

  background: #4948B0;
}

* {
  box-sizing: border-box;
}